<!DOCTYPE>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="~{base :: head}"><title>Home</title></head>
    <body>
        <div th:replace="~{base :: cabecalho}"></div>
        <nav>
            <a href="/home">Todos os produtos</a>
            <a href="">Fluxo de caixa</a>
            <a href="../cadastro/formulario">Novo cadastro</a>
        </nav>

        <div>

            <div>Código do produtos</div>

            <div>Descrição do produtos</div>

            <div>Quantidade</div>

            <div>Preço</div>
        </div>
    </body>
</html>